@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.first-main-11 {
  width: 100%;
  height: 50vh;
  background-color: white;
  display: flex;

  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.first-main-sub11 {
  width: 80%;
  height: 90%;
  position: relative;
  overflow: hidden;
  background-color: #1B1B1B;
  display: flex;
  justify-content: center;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #1B1B1B;
}

.first-p-1 {
  font-family: "Heebo", sans-serif;

  font-size: 18px;

}

.name-1 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 50px;
margin: 0;

}
.name--1 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0;

}

.second-image-1 {

  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
}

.second-text-1 {

  width: 60%;
  height: 100%;
  background-color: #1b1b1b;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.macc-p-1{
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.macc--p-1 {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.ma--p-1 {
  font-family: "Noto Sans KR", sans-serif;

  margin-bottom: auto;
  font-size: 13px;
  text-align: start;
  font-weight: 100;
  color: white;
  margin-top: auto;
}
.ma---p-1 {
  font-family: "Noto Sans KR", sans-serif;

  margin-bottom: auto;
  font-size: 10px;
  text-align: start;
  font-weight: 100;
  color: white;
  margin-top: auto;
}



.sp-text{
    font-family: "Heebo", sans-serif;
      font-weight: bold;
      font-size:30px;
      margin: 0;
}
.sp--text {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.border{
 
        width: 100%;
          height: 18%;
     
          border-width: 1px;
          border-style: solid;
        border-bottom-color: black;
          border-top-color: transparent;
          border-right-color: transparent;
          border-left-color: transparent;
          display: flex;
          justify-content: space-between;
          padding: 10px;


}
.border-text{
  font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.border-text {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.border-text-1 {
  font-family: "Heebo", sans-serif;

  font-size: 16px;
}


.border-text-11 {
  font-family: "Heebo", sans-serif;

  font-size: 6px;
}


.p_more{
  font-family: "Noto Sans KR", sans-serif;
  
    margin-bottom: auto;
    font-size: 13px;
    font-weight: bold;
    color:white;
    margin-top: auto;

}

.gen{

    font-size: 25px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;

}
.gen-1 {

  font-size: 15px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;

}
.macc{
font-family: "Noto Sans KR", sans-serif;
font-size: 40px;
font-weight: bold;
margin:0px;
padding: 10px;

}
.macc1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
 

}

.te_text{

        margin-top: auto;
          margin-bottom: auto;
              font-size: 17px;
            
                font-family: "Heebo", sans-serif;

   
}
@media screen and (min-width:769px) {

.main-heigth{

  width: 100%;
      display: flex;
      height: 250vh;
      justify-content: center


}
}
@media screen and ( max-width:768px) {

  .main-heigth {

    width: 100%;
    display: flex;
    height: 220vh;
    justify-content: center
  }
}
